 body {
  font-family: Arial, sans-serif;
  background:white;
  padding: 20px;
}

h2 {
  text-align: center;
}

.form {
  text-align: center;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin: 5px;
  width: 180px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: #fff;
}

th, td {
  border: 1px solid lightblue;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #eaeaea;
}
